*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  grid-area: result;
}

.content__details {
  display: grid;
  grid-area: content__details;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 4px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
  overflow-x: hidden;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-block-end: 16px;
  object-fit: cover;
  object-position: center;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  min-width: 0;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-title {
  overflow: hidden;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 100%;
  /* свойства для длинных названий, чтобы многоточие появлялось */
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4; 
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  line-height: 100%;
  cursor: pointer;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  appearance: none;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
}

.search-form__pseudo-checkbox:active::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
}

.more-button {
    width: 98%;
    margin-bottom: 4px;
    margin-left: 3px;
    padding: 0px;
    text-align: center;
}

button:hover,
.more-button:hover,
.content__card-link:hover,
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus,
.search-form__textfield:focus,
.search-form__checkbox:focus,
.content__card-link:focus {
  outline: none;
}

.search-form__submit-button:active,
.more-button:active,
.content__video-card:active,
.content__card-link:active {
  outline: none;
  text-decoration: none;
  background-color: #545050;
}

.search-form__label-text:active,
.search-form__textfield:active,
.search-form__label:active {
  border: none;
  text-decoration: none;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.button:focus-visible,
.search-form__label:has(:focus-visible),
.search-form__checkbox:has(:focus-visible),
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
